<!-- ARTICLE -->
<h2 class="article-title"><%= @article.title %></h2>
<p class="author">
  <%= " #{@article.author.username}" + " - #{@article.created_at.strftime("%d.%m.%Y")}" %>
</p>
<div class="category-tags">
  <% @article.categories.each do |category| %>
  <span class="category-tag label label-primary"><%= category.name %></span>
  <% end %>
</div>


<div class="actions">
  <ul>
    <% if user_signed_in? && current_user?(@article.author) %>
      <li><%= link_to t(:delete_article), @article, method: :delete, class: "btn btn-danger" %></li>
      <li><%= link_to t(:update_article), [:edit, @article], class: "btn btn-primary" %></li>
    <% end %>
  </ul>
</div>

<div class="clearfix"></div>

<div class="article-main row">
  <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <%= raw(@article.body) %>
  </article>

  <aside class="col-md-3 col-lg-3 visible-md visible-lg other-articles">
    <div class="panel panel-info">
      <div class="panel-heading"> <h4 class="panel-title"><%= t(:other_articles) %></h3></div>
      <div class="panel-body">
        <ul>
          <li>!!!!!!!!!!!!!!</li>
          <li>!!!!!!!!</li>
        </ul>
      </div>
    </div>
  </aside>
</div>

<!-- COMMENTS -->
<section class="comments-container">
  <h3><%= t(:comments) %> (<%= @comments.count %>)</h3>
  <% if @comments %>
    <div id="comments">
      <%= render @comments, article: @article  %>
    </div>
  <% end %>
  <%= render "comments/form", article: @article, comment: Comment.new %>
</section>
