<footer>
  <div class="container">
    <nav id="footer-navs">
      <ul class="pull-left">
        <li><%= link_to t(:home_path), root_path %></li>
        <li><%= link_to t(:categories), categories_path %></li>
        <% unless user_signed_in? %>
          <li><%= link_to t(:registration), new_user_registration_path %></li>
        <% end %>
      </ul>
      <div>
        <ul class="pull-right"><%= t(:language) %>:
          <li><%= link_to t(:russian), request.fullpath.sub("en", "ru") %></li>
          <li><%= link_to t(:english), request.fullpath.sub("ru", "en") %></li>
        </ul>
      </div>
    </nav>
    <div class="clearfix"></div>
    <div class="pull-right">
      &copy; Sergey Guryev
    </div>
  </div>
</footer>
